html {
  font-size: 16px;
}

body, .name, .description {
  margin: 0;
  font-family: 'Nunito Sans', sans-serif;
}

code {
  font-size: 1rem;
}

header {
  margin: 0;
  padding: 0;
  background: linear-gradient(#4caf50, #8bc34a);
  text-align: center;
  box-shadow: 0 1px 3px 0 #666;
}

header > div {
  padding: 80px 0 80px 0;
}

.name {
  color: white;
}

.description {
  font-size: 1.375rem;
  font-style: italic;
  color: #eee;
}

nav {
  display: block;
  padding: 0;
  background-color: #333;
}

.ul {
  padding: 0;
  margin: 0;
  display: inline-flex;
  list-style-type: none;
}

.ul > li {
  margin: 0;
  padding: 0;
}

.ul > li > a {
  display: block;
  padding: 1.5rem 1.875rem;
  font-size: 0.875rem;
  text-decoration: none;
  text-transform: uppercase;
  color: white;
  transition: background-color 0.18s linear;
}

.ul > li > a:hover {
  /* @,@ foda-se... */
  background-color: #666;
}

.ul > li > a:active {
  background-color: #222;
}

main {
  max-width: 780px;
  margin: 0 auto;
  padding: 80px 0 80px 0;
}

h1, h2, h3, h4, h5, h6, p, blockquote {
  margin: 22px auto 22px auto;
}

main h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding-top: 24px;
  color: #111;
  border-bottom: solid 1px #eee;
}

h1, main h1 {font-size: 3.125rem;}
h2 {font-size: 2.75rem;}
h3 {font-size: 2.375rem;}
h4 {font-size: 2rem;}
h5 {font-size: 1.625rem;}
h6 {font-size: 1.25rem;}

header > div > h1 {
  font-size: 4.375rem;
  font-weight: lighter;
}

main p, main blockquote, main li {
  font-size: 1.375rem;
}

main p, main li {
  color: #333;
}

main > blockquote {
  margin: 22px 0 22px 0;
  padding: 0 0 0 20px;
  border-left: solid 6px #4caf50;
  color: #666;
}

main code {
  border-radius: 3px;
  padding: 2px 6px;
  background-color: #ddd;
  font-weight: bold;
}

main pre > code {
  display: block;
  width: 100%;
  color: #eee;
  padding: 24px;
  box-sizing: border-box;
  overflow-x: auto;
  font-weight: lighter;
  background-color: #272822;
}

main a {
  color: #4caf50;
  font-weight: bold;
}

main h1 > a, main a:hover {
  text-decoration: none;
}

main hr {
  height: 1px;
  border: none;
  background-color: #bbb;
}

main table {
  margin: 22px 0 22px 0;
  width: 100%;
  font-size: 1.25rem;
  border-collapse: collapse;
  padding: 0;
}

main th {
  color: #111;
}

main td {
  font-size: 1.25rem;
}

main td, main th {
  padding: 10px 14px;
  border: solid 1px #ddd;
}


main tr:nth-child(even) {
  background-color: #eee;
}

main > .image img {
  display: block;
  max-width: 100%;
  border-radius: 3px;
  margin: 22px auto 0 auto;
}

main > .image p {
  text-align: center;
  color: gray;
  margin-top: 10px;
  font-size: 0.875rem;
  font-style: italic;
}

footer {
  text-align: center;
  background: linear-gradient(#8bc34a, #4caf50);
  margin: 0;
  padding: 50px 0;
  border-top: solid 10px #333;
  box-shadow: 0 -1px 3px 0 #666;
}

footer p {
  font-size: 1.125rem;
  margin: 0;
  color: #eee;
}

::selection {
  color: white;
  background-color: #4caf50;
}

@media screen and (max-width: 880px) {
  html {
    font-size: 14px;
  }

  header > div {
    padding: 60px 0 60px 0;
  }


  main {
    margin: auto 50px auto 50px;
    padding: 60px 0 60px 0;
  }

  .ul {
    text-align: left;
    display: inline;
  }

  .octicon {
    float: right;
  }
}

@media screen and (max-width: 600px) {
  html {
    font-size: 12px;
  }

  header > div {
    padding: 40px 0 40px 0;
  }

  main {
    padding: 40px 0 40px 0;
  }

  footer {
    padding: 30px 0;
  }
}
