* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

html {
  font-size: 18px;
}

body {
  margin: 100px 30px;
  font-family: "Open Sans";
  text-align: center;
}

header h1,
main h2 {
  margin-bottom: 0.5rem;
}

header h1 .js {
  color: #27ae60;
}

header p {
  color: gray;
}

pre {
  color: #333;
  text-align: center;
  font-weight: bold;
}

nav {
  margin: 20px 0px 30px 0px;
}

nav a {
  color: #eee;
  background-color: #333;
  text-decoration: none;
  margin: 5px 2px;
  padding: 4px 20px;
  border-radius: 3px;
  display: inline-block;
}

nav a:hover {
  background-color: #444;
}

@media screen and (max-width: 800px) {
  body {
    margin: 75px 30px;
  }
}

@media screen and (max-width: 600px) {
  html {
    font-size: 14px;
  }
}

::selection {
  color: white;
  background-color: #e74c3c;
};
