
/**
 * All
 */
* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
*::selection {
  color: white;
  background-color: #2980b9;
}

/**
 * Html
 */
html {
  font-size: larger;
}

/**
 * Body
 */
body {
  margin: 100px 30px;
  text-align: center;
  font-family: "Raleway";
}

/**
 * Header
 */
.title {
  margin-bottom: 10px;
  font-size: 48px;
  font-family: "Bubbler One";
}
.description {
  color: gray;
  font-style: italic;
}

/**
 * Cores
 */
.green {
  color: #27ae60;
}

/**
 * Button
 */
.button {
  color: #eee;
  background-color: #34495e;
  text-decoration: none;
  margin: 5px 1px;
  padding: 10px 25px;
  border-radius: 3px;
  display: inline-block;
}

/**
 * Button (effects)
 */
.button:hover {opacity: 0.95;}
.button:active {opacity: 1;}

/**
 * Nav
 */
nav {
  margin: 20px 0px 30px 0px;
}

/**
 * Npm command
 */
.npm {
  font-weight: bold;
  font-size: 20px;
  text-align: center;
  user-select: all;
  color: #333;
}
