<!doctype html>
<html lang="pt-br">
  <head>
    <meta charset="utf-8">
    <title>{{title}}</title>
    <link rel="stylesheet" href="./assets/style.css">
    <link rel="stylesheet" href="./assets/hljs-github.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto">
    <link rel="stylesheet" href="https://unpkg.com/font-awesome@4.7.0/css/font-awesome.min.css">
  </head>
  <body>

    <header class="header">
      <div class="container flex">
        <h1 class="title flex-auto">
          <a href="javascript:void(0);">Piii.js</a>
        </h1>
        <a class="item" href="https://github.com/piiijs/piii.js">
          <i class="fa fa-github"></i> GITHUB
        </a>
      </div>
    </header>

    <section class="section">
      <div class="container flex">
        <aside class="aside">
          <div>
            <ul>
              <li><a href="Instalacao.html">Instalação</a></li>
              <li><a href="usando.html">Usando</a></li>
            </ul>
            <p>CONFIGURAÇÕES:</p>
            <ul>
              <li><a href="opcao_filters.html"><code>filters</code></a></li>
              <li><a href="opcao_aliases.html"><code>aliases</code></a></li>
              <li><a href="opcao_repeated.html"><code>repeated</code></a></li>
              <li><a href="opcao_censor.html"><code>censor</code></a></li>
              <li><a href="opcao_cleaner.html"><code>cleaner</code></a></li>
            </ul>
          </div>
        </aside>

        <article class="article flex-auto">
          {{~> content}}
        </article>
      </div>
    </section>

    <script>
      (function () {
        var pathname = window.location.pathname.substr(1);
        var activeLink = document.querySelector("[href='" + pathname + "']");

        if (activeLink) activeLink.classList.add("active");
      })();
    </script>
  </body>
</html>