* {
  --selection-bg: #ffe8b2;
  --page-color: #858542;

  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-weight: normal;
}
*:focus {
  outline: dashed 1px #ccc;
}
*::selection {
  background-color: var(--selection-bg);
}
*::-moz-selection {
  background-color: var(--selection-bg);
}

body {
  font-family: "Segoe UI", Verdana, sans-serif;
}
